<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        p, h1, ol,fieldset {
            text-align: center;
            margin: 0 auto;
        }
        fieldset{
            max-width: 5%;
            border-style: none;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <p><a href="/Home">Back to home page</a></p>
    <h1>Ascii-art-web</h1>
    <p>This is a web app for generating ascii art(pattern) of respective strings provided by user</p>
    <p>It is based on predefined bannerfiles i.e</p>
    <ul>
        <fieldset>
            <li>Standard</li>
            <li>Shadow</li>
            <li>Thinkertoy</li>
        </fieldset>
        
    </ul>
    <p>&copy;Some rights reserved</p>
</body>
</html>